celery==5.4.0
cryptography
Django==3.2.6
djangorestframework
Pillow
psycopg2-binary
python-decouple
python-memcached
python-telegram-bot
pytz
requests
six
sqlparse
djangorestframework-simplejwt
PyJWT
coreapi
django-filter
gunicorn==23.0.0
