celery==5.4.0
cryptography
Django>=4.2,<4.3
djangorestframework
Pillow
psycopg2-binary
python-decouple
pymemcache
#python-telegram-bot>=13,<20
pytz
requests
six
sqlparse
djangorestframework-simplejwt
PyJWT
coreapi
django-filter
gunicorn==23.0.0
dj-database-url==2.3.0
